* {
  box-sizing: border-box;
  border: 1px solid silver;
  margin: 0;
}
.content {
  position: relative;
  // z-index: 2;
  // background: white;
  margin-bottom: 400px;
  article {
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
  }
}
